<a href="https://colab.research.google.com/github/ftharriz-hash/Data-Science-Learning-/blob/main/DATA_TYPES_AND_VARIABLES_%2C_PYTHON_OPERATORS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

Python Data Types, Type Casting & Variables

Text Type: str

Numeric Types: int, float

Sequence Types: list, tuple, range

Mapping Type: dict

Set Types: set

In [13]:
# TEXT AND NUMERIC TYPES:

name = 'Tara'      #if you wanted to know the type of the data use function 'type()'.
age = 28
percentage = 90.8  #The data named Tara which is stored in an variable called name.
print(name)
print(age)
print(percentage)
type(age)

Tara
28
90.8

int

In [20]:
#DIFF BETWEEN LIST AND TUPLE:(SEQUENCE TYPE)

student1 = ['Tara', 28]
student2 = ('Rena', 28)

In [21]:
print(student1)
print(student2)

['Tara', 28]
('Rena', 28)

In [22]:
type(student1)

list

In [23]:
type(student2)

tuple

In [26]:
#MAPPING TYPE (USED FOR USERS TO UNDERSTAND THE CODE):

student = {'name':'Tara', 'age':28}

In [29]:
student.keys()

dict_keys(['name', 'age'])

In [30]:
student.values()

dict_values(['Tara', 28])

In [37]:
student1 = ['Tara', 28]  #IS MUTABLE
student2 = ('Rena', 29)  #NOT MUTABLE
student3 = {'name':'Rishi', 'age':28} #RANDOM OUTPUT

In [34]:
student1

['Tara', 28]

In [35]:
student2

('Rena', 28)

In [36]:
student3

{'name': 'Rishi', 'age': 28}