<a href="https://colab.research.google.com/github/ftharriz-hash/Data-Science-Learning-/blob/main/DATA_TYPES_AND_VARIABLES_%2C_PYTHON_OPERATORS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

Python Data Types, Type Casting & Variables

Text Type: str

Numeric Types: int, float

Sequence Types: list, tuple, range

Mapping Type: dict

Set Types: set

In [ ]:
# TEXT AND NUMERIC TYPES:

name = 'Tara'      #if you wanted to know the type of the data use function 'type()'.
age = 28
percentage = 90.8  #The data named Tara which is stored in an variable called name.
print(name)
print(age)
print(percentage)
type(age)

Tara
28
90.8

int

In [ ]:
#DIFF BETWEEN LIST AND TUPLE:(SEQUENCE TYPE)

student1 = ['Tara', 28]
student2 = ('Rena', 28)

In [ ]:
print(student1)
print(student2)

['Tara', 28]
('Rena', 28)

In [ ]:
type(student1)

list

In [ ]:
type(student2)

tuple

In [ ]:
#MAPPING TYPE (USED FOR USERS TO UNDERSTAND THE CODE):

student = {'name':'Tara', 'age':28}

In [ ]:
student.keys()

dict_keys(['name', 'age'])

In [ ]:
student.values()

dict_values(['Tara', 28])

In [ ]:
student1 = ['Tara', 28]  #IS MUTABLE
student2 = ('Rena', 29)  #NOT MUTABLE
student3 = {'name':'Rishi', 'age':28} #RANDOM OUTPUT

In [ ]:
student1

['Tara', 28]

In [ ]:
student2

('Rena', 28)

In [ ]:
student3

{'name': 'Rishi', 'age': 28}

**PYTHON OPERATORS:**

In [ ]:
#ARITHMETIC OPERATORS: (+,-,*,/,%,**)
X = 5
Y = 10
print(X+Y)
print(X-Y)
print(X*Y)
print(X/Y)
print(X%Y)
print(X**Y)

15
-5
50
0.5
5
9765625

In [ ]:
# ASSIGNMENT OPERATORS: (=,+=,-=,*=,/=,%=,**=)
# USED TO ASSIGN TO VALUES:
x,y = 5,8

x+=y # x=x+y
x-=y # x=x-y
x*=y # x=x*y
x/=y # x=x/y
x%=y # x=x%y
x**=y # x=x**y

In [ ]:
print(x)

390625.0

In [ ]:
#Initial: x = 5, y = 8
x += y → x = 5 + 8 = 13
x -= y → x = 13 − 8 = 5
x *= y → x = 5 × 8 = 40
x /= y → x = 40 ÷ 8 = 5.0
x %= y → x = 5.0 % 8 = 5.0
x **= y → x = 5.0 ** 8 = 390625.0

Final value of x = 390625.0

In [ ]:
x,y = 5,8
x+=y
print(x)

13

In [ ]:
x,y = 5,8
x**y
print(x)

5

In [ ]:
print(x)

390625.0

In [3]:
#COMPARISON OPERATORS (==,!=,<,>,<=,>=):
# USED TO COMPARE TWO VALUES:

x,y = 5,8
x==y

False

In [4]:
x!=y

True

In [5]:
x<y

True

In [6]:
x>y

False

In [7]:
x>=y

False

In [8]:
#LOGICAL OPERATORS (==,!=,<,>,<=,>=):
# USED TO COMBINE CONDITIONAL STATEMENT:
x,y = 5,8

(x>y)and(x==y)

False

In [12]:
(x>y)or(x==y)

False

In [13]:
not((x>y)or(x==y))

True

In [16]:
#MEMBERSHIP OPERATORS (==,!=,<,>,<=,>=)
# USED TO TEST IF A SEQUENCE IS PRESENT IN AN OBJECT:
# print (x in y, x not in y)
x = [1,2,3,4,5]
y = 7

y not in x

True

In [17]:
y in x

False