<a href="https://colab.research.google.com/github/ftharriz-hash/Data-Science-Learning-/blob/main/LIST_%2C_STRING_AND_CONDITIONAL_STATEMENTS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 **ðŸ“Œ Common List Methods:

append()   â€“ Adds an item at the end

insert()   â€“ Adds an item at a specific position

pop()      â€“ Removes item by index (returns removed value)

remove()   â€“ Removes first occurrence of a value

reverse()  â€“ Reverses the list order

sort()     â€“ Sorts list in ascending order

index()    â€“ Returns index of an element

count()    â€“ Returns number of occurrences

extend()   â€“ Adds elements of another list

copy()     â€“ Returns a copy of the list

clear()    â€“ Removes all items from list**

**List and it's Methods:

Lists are used to store multiple items in a single variable.
- Lists are used to store multiple items in a single variable.
- It is a collection which is ordered, changeable and allows duplicate members.

List Methods:
append(), sort(), reverse(), remove(), pop(), insert(), index(), extend(), count(), copy(), clear()**

In [1]:
# APPEND: (A FUNCTION WHICH IS USED TO ADD AN DATA)

fruits = ['apple','cherry','banana']

fruits.append('orange')
print(fruits)

['apple', 'cherry', 'banana', 'orange']

In [3]:
# SORT (A FUNCTION IS USED TO SORT THE LIST IN ASCENDING ORDER)

fruits.sort()
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [4]:
# REVERSE (IT REVERSES THE LIST IN VARIABLES):

fruits.reverse()
print(fruits)

['orange', 'cherry', 'banana', 'apple']

In [5]:
# REMOVE (THIS FUNCTION REMOVES THE ANY DATA AT VARIABLE):

fruits.remove('cherry')
print(fruits)

['orange', 'banana', 'apple']

In [8]:
# POP (THIS FUNCTION IS USED TO DELETE THE SPECIFIC ELEMENT):

fruits.pop(2)
print(fruits)

['orange', 'banana']

In [16]:
# INSERT (ADDS AN ITEM AT AN SPECIFIC POSITION)

fruits.insert(2,'muskmelon')
print(fruits)

['orange', 'banana', 'muskmelon']

In [19]:
# INDEX (RETURNS INDEX OF AN ELEMENT)

fruits.index('muskmelon')
print(fruits)

['orange', 'banana', 'muskmelon']

In [22]:
#EXPEND (ADDS ELEMENT FROM ANOTHER LIST)

others = ['pineapple','guva','strawberry','cherry','cherry']

fruits.extend(others)
print(fruits)

['orange', 'banana', 'muskmelon', 'pineapple', 'guva', 'strawberry', 'cherry', 'pineapple', 'guva', 'strawberry', 'cherry', 'cherry']

In [24]:
# COUNT (RETURNS THE NUMBER OF ELEMENTS)

fruits.count("cherry")

3

In [28]:
#CLEAR (REMOVES ALL THE ITEMS FROM THE LIST)

fruits.clear("cherry")
print(fruits)

[]

In [27]:
#COPY (RETURNS THE COPY OF THE LIST)

fruits.copy()
print(fruits)

[]

**Python String â€“ Notes & Methods

ðŸ”¹ What is a String?

A string is a sequence of characters enclosed in quotes ( " " or ' ' ).
All string methods return new values â€” they do NOT change the original string (strings are immutable).**

COMMON STRING METHODS:

**isalpha(), isalnum(), index(), find(), count(),
capitalize(), isdigit(), islower(), isnumeric(),
endswith(), upper(), title(), swapcase(), strip(),
startswith(), split(), join(), lower(), replace()
**

ðŸ§ª Methods with Example Outputs (From Image Table)

Input	Method	Output
"hello world"	.capitalize()	Hello world

"hello world"	.isalpha()	True

"123456"	.isnumeric()	True

"hello world"	.isupper()	False

"Hi Alex"	.split()	["Hi", "Alex"]

"hello world"	.title()	Hello World

" Hello "	.strip()	"Hello"

"a b c"	.replace('a','d')	"d b c"

In [29]:
# CAPITALIZE;

text = "hellow welcome to our course"
text = text.capitalize()
print(text)

Hellow welcome to our course

In [32]:
# COUNT

text = "hellow welcome to our course"
text = text.count("hellow")
print(text)

1

In [33]:
# FIND:

text = "hellow welcome to our course"
text = text.find("welcome")
print(text)

# THE "W" IS IN 7 TH PLACE:

7

In [34]:
# INDEX:

text = "hellow welcome to our course"
text = text.index("our")
print(text)

18

In [36]:
# SPLIT:

text = "hellow welcome to our course , course starts on jan 11"
text = text.split(',')
print(text)

['hellow welcome to our course ', ' course starts on jan 11']

In [37]:
# ALPHA: (alpha)

text1 = "company_x"
text1 = text1.isalpha()
print(text1)

False

In [39]:
# ALPHANUMERIC:

text2= "company19"
text2 = text2.isalnum()
print(text2)

True

In [41]:
# DIGIT:

text3 = "3336"
text3 = text3.isdigit()
print(text3)

True

In [46]:
# JOIN FUNCTION:

text4 = ["james","bond","007"]
text4 = "_".join(text4)
print(text4)

james_bond_007

In [47]:
# REPLACE :

text5 = "james bond 008"
text5 = text5.replace("008","007")
print(text5)

james bond 007

In [48]:
#ENDSWITH:

txt = "Hello, welcome to Python"
result = txt.endswith("Python")
print(result)

True

In [51]:
names = ["Ravi Kumar", "James Bond", "Peter","magesh Kumar"]
for name in names:
    if name.endswith("Kumar"):
        print(name)

Ravi Kumar
magesh Kumar

PYTHON CONDITIONAL STATEMENTS (if , else , elif)

In [52]:
# EXAMPLE 1:

marks = 85

if marks >= 90:
    print("Grade: A")
elif marks >= 75:
    print("Grade: B")
elif marks >= 50:
    print("Grade: C")
else:
    print("Fail")

Grade: B

In [53]:
#EXAMPLE 2:

role = "admin"

if role == "admin":
    print("Full Access Granted")
elif role == "manager":
    print("Limited Access Granted")
else:
    print("Access Denied")

Full Access Granted

In [54]:
#EXAMPLE 3:

temp = 32

if temp > 40:
    print("Too Hot!")
elif temp > 20:
    print("Weather is Normal")
elif temp > 10:
    print("It's Cold")
else:
    print("Freezing!")

Weather is Normal