<a href="https://colab.research.google.com/github/ftharriz-hash/Data-Science-Learning-/blob/main/PYTHON_FUNCTIONS_AND_LOOPS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PYTHON FUNCTIONS:


*   A function is an block of code which is only runned when it is called.
*   Advanced functions include lambda,map and zip.

In [1]:
#FUNCTION DEFINING:

def my_function():
  print ("Hello i'm in function")

In [2]:
#FUNCTION CALLING:
my_function()

Hello i'm in function

In [9]:
#FUNCTION WITH ARGUMENTS:

def my_ID(name):
  print("0019"+ name)

  my_ID("vizam")

In [10]:
my_ID()

TypeError: my_ID() missing 1 required positional argument: 'name'

In [12]:
def add(a,b,c):
  return a+b+c

add(9,9,9)

27

In [14]:
#USING LAMBDA FUNCTION:

add = lambda a,b,c: print(a-b+c)
add(9,9,7)

7

In [22]:
#MAP FUNCTION:
nums = [1,2,3,4,5]

def sq(n):
  return n*n

  square = map(sq,nums)
  print(square)

In [24]:
#ZIP FUNCTION:
name = ["dilip","nisha","raj"]
ID = [4,2,1]

mapped = zip(name,ID)
print(list(mapped))

[('dilip', 4), ('nisha', 2), ('raj', 1)]

PYTHON LOOP FUNCTIONS (FOR LOOP):

*   It is used for iterating over a sequence (that is either a list, a tuple, a dict , a set or a string).
*   Using a break and continoue keyword.

In [27]:
#THE ITERATION:
fruits = ["apple","banana","cherry","pineapple"]

for x in fruits:  # x in the place of iteration.
 print(x)

apple
banana
cherry
pineapple

In [28]:
#THE BREAK FUNCTION:
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [29]:
#THE CONTINOUE FUNCTION:
for x in fruits:
  print(x)
  if x == "banana":
    continue

apple
banana
cherry
pineapple

WHILE LOOP:


*   With the while loop we can execute a set of statements as long as a condition is true.
*   Using a break and continue functions.

In [36]:
num = 1
while num == 1:
  print(num)
  num += 1

1

In [37]:
#USING BREAK FUNCTION:
num = 1
while num < 11:
  print(num)
  if num == 5:
    break
  num += 1

1
2
3
4
5

In [39]:
#USING CONTINOUE FUNCTION:
num = 1
while num < 11:
  num += 1
  if num != 5:
    continue
  print(num)

5